
<web-app >
    <display-name>Display-name tag</display-name>

    <welcome-file-list>
        <welcome-file>welcome</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>mainPageServlet</servlet-name>
        <servlet-class>webapp.MainPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mainPageServlet</servlet-name>
        <url-pattern>/mainpage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/myservlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/CrewPortal-0.0.1-SNAPSHOT/</url-pattern>
    </servlet-mapping>



</web-app>
